@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Dancing+Script:wght@400..700&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  body header {
    background-color: #FF9CCC;
    padding: 0.1rem;
  }
  body header .navbar-expand-lg {
    display: none;
  }
  body header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  body header nav ul li a {
    font-size: 2rem;
    color: black;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    text-decoration: none;
  }
  body header nav ul li a svg {
    margin-right: 0.3rem;
  }
  body header nav ul li a:hover {
    text-decoration: none;
    color: floralwhite;
  }
  body header nav ul li .bi-cup-hot {
    margin-bottom: 0.4rem;
  }
  body header nav ul li .bi-cake {
    margin-bottom: 0.3rem;
  }
  body header nav ul li .bi-shop {
    margin-bottom: 0.3rem;
  }
  body article {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  body h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    margin: 0%;
  }
  body h3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    margin: 0%;
  }
  body p {
    font-size: 2rem;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
  }
  body main h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #7D3158;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 0%;
  }
  body main .logo-inicio img {
    width: 100px;
    height: 100px;
  }
  body main .logo-inicio h1 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-right: 14rem;
    order: 1;
  }
  body main #carouselExampleIndicators {
    margin-left: 5rem;
    margin-right: 5rem;
    border: 4px solid floralwhite;
  }
  body main .debajo-del-titulo {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3rem;
  }
  body main .separacion {
    display: flex;
    flex-direction: column;
  }
  body main .derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2A5AA;
    margin-bottom: 3rem;
  }
  body main .derecha img {
    width: 30%;
    height: 30%;
    border: 3px solid floralwhite;
  }
  body main .derecha div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .derecha p {
    width: 80%;
    margin-right: 10%;
    margin-top: 1rem;
  }
  body main .izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2A5AA;
    margin-bottom: 3rem;
  }
  body main .izquierda img {
    width: 30%;
    height: 30%;
    order: 1;
    border: 3px solid floralwhite;
  }
  body main .izquierda div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .izquierda p {
    width: 80%;
    margin-right: 10%;
    margin-top: 1rem;
  }
  body main .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 2rem;
  }
  body main .galeria-foto-uno {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  body main .galeria-foto-dos {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  body main .galeria-foto-tres {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  body main .galeria-foto-cuatro {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  body main .galeria-foto-cinco {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  body main .logo-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body main p {
    text-align: center;
  }
  body main .eventos {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  body main .eventos article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid floralwhite;
    background-color: #F2A5AA;
    border-radius: 5%;
  }
  body main .eventos img {
    margin-top: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 3%;
  }
  body main .eventos p {
    font-size: 2rem;
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 2rem 2rem 0.5rem 2rem;
  }
  body main section form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main section label {
    margin: 1rem 0rem 0.2rem 0rem;
  }
  body .parallax {
    background-color: #FBB7C0;
  }
  body .articulo {
    display: flex;
    flex-direction: row;
  }
  body .articulo div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .articulo div img {
    width: 600px;
    border: 2px solid floralwhite;
    margin-top: 5rem;
    margin-right: 185%;
  }
  body .articulo div iframe {
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 185%;
  }
  body .articulo div p {
    width: 50%;
    margin-top: 2rem;
  }
  body .articulo div h2 {
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 5rem;
    margin-top: 4rem;
  }
  body .articulo div a {
    margin-left: 2rem;
    font-size: 2rem;
  }
  body footer {
    background-color: #FF9CCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body footer div a {
    margin-right: 1rem;
  }
  body footer div p {
    font-size: 3rem;
    margin-left: 2px;
    margin-top: 1.5rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  body footer .logo-pie {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body footer .logo {
    width: 100px;
    height: 100px;
  }
  body footer a {
    font-size: 0.5rem;
  }
  body footer .bi-instagram:hover {
    text-decoration: none;
    color: #3B1E79;
  }
  body footer .bi-whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 20px;
    right: 10px;
    background-color: green;
    color: #fff;
    border-radius: 100px;
    text-align: center;
  }
  body footer .bi-whatsapp:hover {
    text-decoration: none;
    color: green;
    background-color: #fff;
  }
  body footer .bi-instagram {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 80px;
    right: 10px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: floralwhite;
    border-radius: 19px;
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  body article {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  body header nav ul {
    display: none;
  }
  body header nav div .navbar-brand {
    width: 12%;
    height: 12%;
    order: 1;
  }
  body header nav div .navbar-nav {
    font-size: 1.5rem;
  }
  body header nav div ul .bi-shop {
    margin-left: 0.4rem;
    margin-bottom: 0.3rem;
  }
  body header nav div ul .bi-cup-hot {
    margin-left: 0.4rem;
    margin-bottom: 0.3rem;
  }
  body header nav div ul .bi-cake {
    margin-left: 0.4rem;
    margin-bottom: 0.3rem;
  }
  body header nav div ul .bi-person-vcard {
    margin-left: 0.4rem;
  }
  body header nav div ul .bi-calendar-date {
    margin-left: 0.4rem;
  }
  body h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  body h3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 2.5rem;
    margin: 0%;
  }
  body p {
    font-size: 1.4rem;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 1rem;
  }
  body main h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #7D3158;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  body main .logo-inicio img {
    display: none;
  }
  body main #carouselExampleIndicators {
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid floralwhite;
  }
  body main .debajo-del-titulo {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 1rem 0.5rem 1rem;
  }
  body main .derecha {
    background-color: #F2A5AA;
    text-align: center;
    margin-bottom: 2rem;
  }
  body main .derecha img {
    border: 3px solid floralwhite;
    width: 100%;
  }
  body main .izquierda {
    background-color: #F2A5AA;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  body main .izquierda img {
    border: 3px solid floralwhite;
  }
  body main .izquierda p {
    margin-top: 1rem;
    width: 100%;
  }
  body main .galeria {
    grid-template-columns: 1fr;
  }
  body main .galeria .galeria-foto-uno {
    grid-column: 1/2;
  }
  body main .galeria .galeria-foto-dos {
    grid-column: 1/2;
  }
  body main .galeria .galeria-foto-tres {
    grid-column: 1/2;
  }
  body main .galeria .galeria-foto-cuatro {
    grid-column: 1/2;
  }
  body main .galeria .galeria-foto-cinco {
    grid-column: 1/2;
  }
  body main .galeria img {
    border: 2px solid floralwhite;
  }
  body main .eventos {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  body main .eventos article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid floralwhite;
    background-color: #F2A5AA;
    margin-bottom: 2rem;
  }
  body main .eventos p {
    width: 95%;
    margin: 2rem 2rem 0.5rem 2rem;
  }
  body main .eventos img {
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  body main section form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main section form label {
    margin: 1rem 0rem 0.2rem 0rem;
  }
  body .parallax {
    background-color: #FBB7C0;
    padding-bottom: 0.5rem;
  }
  body .parallax .articulo div img {
    display: none;
  }
  body .parallax .articulo div iframe {
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  body .parallax .articulo p {
    width: 100%;
  }
  body footer {
    background-color: #FF9CCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body footer p {
    font-size: 1rem;
    margin-left: 2px;
    margin-top: 1.1rem;
  }
  body footer svg {
    width: 20px;
    height: 20px;
    margin-left: 3rem;
  }
  body footer .logo-pie {
    display: flex;
    align-items: center;
  }
  body footer .logo {
    width: 50px;
    height: 50px;
  }
  body footer nav a {
    display: none;
  }
  body footer div .bi-instagram {
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 55px;
    right: 10px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: floralwhite;
    border-radius: 13px;
    text-align: center;
  }
  body footer div .bi-whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: floralwhite;
    border-radius: 50px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body header nav ul {
    display: none;
  }
  body header nav div .navbar-brand {
    width: 7%;
    height: 7%;
    order: 1;
  }
  body header nav div .navbar-nav {
    font-size: 1.5rem;
  }
  body header nav div ul .bi-shop {
    margin-left: 0.4rem;
    margin-bottom: 0.3rem;
  }
  body header nav div ul .bi-cup-hot {
    margin-left: 0.4rem;
    margin-bottom: 0.3rem;
  }
  body header nav div ul .bi-cake {
    margin-left: 0.4rem;
    margin-bottom: 0.3rem;
  }
  body header nav div ul .bi-person-vcard {
    margin-left: 0.4rem;
  }
  body header nav div ul .bi-calendar-date {
    margin-left: 0.4rem;
  }
  body article {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  body h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 4rem;
    margin: 0%;
  }
  body h3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    margin: 0%;
  }
  body p {
    font-size: 2rem;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
  }
  body main h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #7D3158;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 0%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  body main .logo-inicio img {
    display: none;
  }
  body main .debajo-del-titulo {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3rem;
  }
  body main #carouselExampleIndicators {
    margin-left: 3rem;
    margin-right: 3rem;
    border: 2px solid floralwhite;
  }
  body main .separacion {
    display: flex;
    flex-direction: column;
  }
  body main .derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2A5AA;
    margin-bottom: 3rem;
  }
  body main .derecha img {
    width: 30%;
    height: 30%;
    border: 3px solid floralwhite;
    margin-left: 3rem;
  }
  body main .derecha div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .derecha p {
    width: 90%;
    margin-top: 1rem;
  }
  body main .izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2A5AA;
    margin-bottom: 3rem;
  }
  body main .izquierda img {
    width: 30%;
    height: 30%;
    order: 1;
    border: 3px solid floralwhite;
    margin-right: 3rem;
  }
  body main .izquierda div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .izquierda p {
    width: 90%;
    margin-top: 1rem;
  }
  body main .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 1rem;
  }
  body main .galeria-foto-uno {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  body main .galeria-foto-dos {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  body main .galeria-foto-tres {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  body main .galeria-foto-cuatro {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  body main .galeria-foto-cinco {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  body main .logo-inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body main p {
    text-align: center;
  }
  body main .eventos {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  body main .eventos article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid floralwhite;
    background-color: #F2A5AA;
  }
  body main .eventos img {
    margin-top: 1rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  body main .eventos p {
    font-size: 1.7rem;
    width: 95%;
    margin: 2rem 2rem 0.5rem 2rem;
  }
  body main section form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
  body main section form label {
    margin: 1rem 0rem 0.2rem 0rem;
  }
  body .parallax {
    background-color: #FBB7C0;
  }
  body .parallax .articulo {
    display: flex;
    flex-direction: row;
  }
  body .parallax .articulo div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .parallax .articulo div img {
    width: 1200px;
    border: 2px solid floralwhite;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  body .parallax .articulo div iframe {
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  body .parallax .articulo div p {
    width: 100%;
  }
  body .parallax .articulo div h2 {
    font-size: 5rem;
  }
  body footer {
    background-color: #FF9CCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body footer .logo-pie {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body footer .logo {
    width: 100px;
    height: 100px;
  }
  body footer div .bi-instagram {
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 55px;
    right: 10px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: floralwhite;
    border-radius: 13px;
    text-align: center;
  }
  body footer div .bi-whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: floralwhite;
    border-radius: 50px;
    text-align: center;
  }
  body footer div p {
    font-size: 3rem;
    margin-left: 2px;
    margin-top: 1.5rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  body footer nav a {
    margin-right: 6rem;
    color: black;
    font-size: 2rem;
    text-decoration: none;
  }
}
html {
  font-size: 62.5%;
}
html body header {
  background-color: #FF9CCC;
}
html body header li {
  list-style-type: none;
}
html body main .galeria {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  margin: 1rem 10rem 0rem 10rem;
}
html body main .galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1%;
}
html body footer {
  background-color: #FF9CCC;
}
html body footer div a {
  color: black;
}
html body footer div nav a {
  color: black;
}/*# sourceMappingURL=styles.css.map */